.Header-header {
  align-items: center;
  background-attachment: fixed;
  background-image: url(https://www.ouest-france.fr/sites/default/files/styles/image-640x360/public/2015/05/27/rio-le-drole-doiseau-de-caracas.jpg?itok=dPdhK-QZ);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  justify-content: center;
  margin-bottom: 50px;
  min-height: 98vh;
}

.Header-title {
  color: rgba(10, 20, 29, 0.7);
  font-size: 3rem;
  margin-top: -300px;
  word-spacing: 10px;
}




  









